@use "./variables" as *;

* {
    padding: 0.5rem;
    margin: 0;
    box-sizing: border-box;
    background-color: $color-background;
}

body {
    font-family: $text-primary;
    color: $color-white;
    text-decoration: none;;
  }
  
h1 {
    font-size: 3rem;
    padding: 1rem;
}

