@use "./variables" as *;

html {
  scroll-behavior: smooth;
}
nav {
  text-decoration: none;
}

.nav__link,
.nav__get-in-touch {
  display: none;
  font-family: $text-primary;
  text-decoration: none;
  color: $color-white;
}

button {
  border: 1px solid black;
  background-color: $color-background;
  color: black;
  font-family: $text-primary;
  border-radius: 0.3rem;
  font-weight: bolder;
}

.nav__get-in-touch {
  border: 1px solid $color-white;
  background-color: $color-background;
  color: $color-white;
  font-family: $text-primary;
  border-radius: 0.3rem;
  font-weight: bolder;
  margin-left: 2%;
}

.about {
  &__img {
    width: 60%;
    height: auto;
    margin-left: 20%;
  }
}

h1 {
  text-align: center;
}

.header__img {
  display: none;
}

h2 {
  text-align: center;
  padding: 2rem;
}

h3 {
  text-align: left;
  margin-left: 20%;
}

h4 {
  text-transform: uppercase;
}

.skills__paragraph {
  margin-bottom: 1.5rem;
}

.skills__logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: auto;
  padding: 0;

  .skill__logos:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  .skill__logos:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  .skill__logos:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
  }
  .skill__logos:nth-child(4) {
    grid-area: 2 / 1 / 3 / 2;
  }
  .skill__logos:nth-child(5) {
    grid-area: 2 / 2 / 3 / 3;
  }
  .skill__logos:nth-child(6) {
    grid-area: 2 / 3 / 3 / 4;
  }
  .skill__logos:nth-child(7) {
    grid-area: 3 / 1 / 4 / 2;
  }
  .skill__logos:nth-child(8) {
    grid-area: 3 / 2 / 4 / 3;
  }
  .skill__logos:nth-child(9) {
    grid-area: 3 / 3 / 4 / 4;
  }

  .img-with-text {
    max-width: 100%;
    align-items: center;
    margin: auto;
    p {
      text-align: center;
    }
  }
}

.projects {
  .project1__img {
    width: 100%;
    height: auto;
  }

  .project2__img {
    width: 100%;
    height: auto;
  }

  .project3__img {
    width: 100%;
    height: auto;
  }

  .project4__img {
    width: 100%;
    height: auto;
  }

  .project5__img {
    width: 100%;
    height: auto;
  }

  .project6__img {
    width: 100%;
    height: auto;
  }
}
.project__buttons {
  display: flex;
  margin: auto;
  padding: 1rem;
}

.project4 {
  display: none;
}
.project5 {
  display: none;
}
.project6 {
  display: none;
}

.codeButton {
  border: 0.8px solid $color-white;
  background-color: $color-background;
  color: $color-white;
  font-family: $text-primary;
  border-radius: 0.3rem;
  margin: 1rem;
  font-weight: bolder;
  padding: 0.4rem;
}

.previewButton {
  border: 0.8px solid $color-white;
  background-color: $color-background;
  color: $color-white;
  font-family: $text-primary;
  border-radius: 0.3rem;
  margin: 1rem;
  font-weight: bolder;
  padding: 0.4rem;
}

footer {
  min-height: 50px;
  max-width: 100vw;
  display: grid;
  justify-content: space-around;
  background-color: $color-black;
  margin: 1rem;
  padding: 1rem;

  .footer_links {
    background-color: $color-black;
    justify-content: center;
  }
  a {
    background-color: $color-black;
    text-decoration: none;
  }

  img {
    width: 35px;
    height: 35px;
    border-radius: 70%;
    align-items: center;
    align-self: center;
  }

  p {
    background-color: $color-black;
    color: $color-white;
    text-decoration: none;
    text-align: center;
  }
}

.contact_form {
  height: 455px;
  position: relative;
  padding-top: 20px;

  background: $color-background;
  background: -webkit-linear-gradient(to top, $color-background);
  background: linear-gradient(to top, $color-background);
}

.button__contact {
  width: 100%;
  height: 60px;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  color: white;
  font-size: 1.6em;
  bottom: 0;

  background: #de6262;
  background: -webkit-linear-gradient(to right, #ffb88c, #de6262);
  background: linear-gradient(to right, #ffb88c, #de6262);

  box-shadow: none;
  box-sizing: border-box;
  outline: none;
  border: none;
}

form {
  color: white;
  padding: 0px 70px 10px 70px;
  margin-top: -15px;
}

.h4__form {
  text-transform: uppercase;
  font-size: 2rem;
  text-align: center;
}

input {
  padding: 20px 0 20px 0;
  width: 90%;
  box-shadow: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  margin-left: 10%;
  font-size: 18px;
  color: white;
  background: none;
  opacity: 0.4;
  border-bottom: 2px solid white;
}

textarea {
  width: 90%;
  margin-left: 10%;
  padding: 20px 0 0 0;
  background: none;
  resize: none;
  overflow: hidden;
  height: 115px;
  font-size: 18px;
  color: white;
  box-shadow: none;
  box-sizing: border-box;
  outline: none;
  border: none;
  opacity: 0.4;
  border-bottom: 2px solid white;
  position: relative;
}

#charNum {
  float: right;
  color: #de6262;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: bold;
}

.input {
  position: relative;
}
.input i {
  position: absolute;
  transform: translatey(50%);
  font-size: 1.2em;
  color: white;
  padding-top: 6px;
}
input:focus,
input:valid,
textarea:focus {
  opacity: 0.8;
}

@media (min-width: 768px) {
  .hey {
    margin-left: 8%;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .about__img {
    grid-area: 1 / 1 / 4 / 3;
  }
  .about__header {
    grid-area: 1 / 3 / 2 / 5;
    text-align: left;
  }
  .about__paragraph {
    grid-area: 2 / 3 / 4 / 5;
    font-size: 1.1rem;
  }

  .about__img {
    width: 80%;
    height: auto;
    margin-left: 14%;
  }

  .skills {
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
  }

  .skills__logos {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .project4 {
    display: block;
  }
  .project5 {
    display: block;
  }
  .project6 {
    display: block;
  }

  .project1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .project2 {
    grid-area: 1 / 2 / 2 / 3;
  }
  .project3 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .project4 {
    grid-area: 2 / 2 / 3 / 3;
  }
  .project5 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .project6 {
    grid-area: 3 / 2 / 4 / 3;
  }
}

@media (min-width: 1140px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .nav__link {
    display: inline;
  }

  .nav__get-in-touch {
    display: inline;
  }

  .header {
    display: flex;
    justify-content: space-between;
  }

  h3 {
    margin-left: 6%;
  }

  h1 {
    text-align: left;
    max-width: 50vw;
    margin-right: 10%;
    margin-left: 5%;
  }

  .header__img {
    display: inline;
    max-height: 20vh;
    max-width: 20vw;
    margin-right: 20%;
  }

  .about {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 1rem;
    font-size: 2rem;
  }

  .about__img {
    grid-area: 1 / 1 / 6 / 3;
  }
  .about__header {
    grid-area: 1 / 3 / 3 / 5;
    text-align: left;
  }
  .about__paragraph {
    grid-area: 2 / 3 / 6 / 5;
    font-size: 1.2rem;
  }

  .about__img {
    width: 100;
    height: auto;
    margin-left: 14%;
  }

  .skills {
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
  }

  .skills__logos {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
  }

  .projectsHeader {
    margin-top: 5%;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .project4 {
    display: block;
  }
  .project5 {
    display: block;
  }
  .project6 {
    display: block;
  }

  .project1 {
    grid-area: 1 / 1 / 3 / 3;
  }
  .project2 {
    grid-area: 1 / 3 / 3 / 5;
  }
  .project3 {
    grid-area: 1 / 5 / 3 / 7;
  }
  .project4 {
    grid-area: 3 / 1 / 5 / 3;
  }
  .project5 {
    grid-area: 3 / 3 / 5 / 5;
  }
  .project6 {
    grid-area: 3 / 5 / 5 / 7;
  }
}
