@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sanchez&display=swap');


$text-heading: "Montserrat", sans-serif;
$text-primary: "Sanchez", serif;

$color-black: #393e46;
$color-white: #fff;
$color-grey: #efefef;
$color-primary: #4612e1;
$color-background: #3e3636;

$mobile-breakpoint: 320px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;
$large-desktop-breakpoint: 1440px;
$extra-large-desktop-breakpoint: 2560px;