@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sanchez&display=swap");
* {
  padding: 0.5rem;
  margin: 0;
  box-sizing: border-box;
  background-color: #3e3636;
}

body {
  font-family: "Sanchez", serif;
  color: #fff;
  text-decoration: none;
  gap: 1rem;
}

h1 {
  font-size: 3rem;
  padding: 1rem;
}

nav {
  text-decoration: none;
}

.nav__link,
.nav__get-in-touch {
  display: none;
  font-family: "Sanchez", serif;
  text-decoration: none;
  color: #fff;
}

button {
  border: 1px solid black;
  background-color: #3e3636;
  color: black;
  font-family: "Sanchez", serif;
  border-radius: 0.3rem;
  font-weight: bolder;
}

.about__img {
  width: 60%;
  height: auto;
  margin-left: 20%;
}

h1 {
  text-align: center;
}

.header__img {
  display: none;
}

h2 {
  text-align: center;
  padding: 2rem;
}

h3 {
  text-align: left;
  margin-left: 20%;
}

h4 {
  text-transform: uppercase;
}

.skills__logos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: auto;
  padding: 0;
}
.skills__logos .skill__logos:nth-child(1) {
  grid-area: 1/1/2/2;
}
.skills__logos .skill__logos:nth-child(2) {
  grid-area: 1/2/2/3;
}
.skills__logos .skill__logos:nth-child(3) {
  grid-area: 1/3/2/4;
}
.skills__logos .skill__logos:nth-child(4) {
  grid-area: 2/1/3/2;
}
.skills__logos .skill__logos:nth-child(5) {
  grid-area: 2/2/3/3;
}
.skills__logos .skill__logos:nth-child(6) {
  grid-area: 2/3/3/4;
}
.skills__logos .skill__logos:nth-child(7) {
  grid-area: 3/1/4/2;
}
.skills__logos .skill__logos:nth-child(8) {
  grid-area: 3/2/4/3;
}
.skills__logos .skill__logos:nth-child(9) {
  grid-area: 3/3/4/4;
}
.skills__logos .img-with-text {
  max-width: 100%;
  align-items: center;
  margin: auto;
}
.skills__logos .img-with-text p {
  text-align: center;
}

.projects .project1__img {
  width: 100%;
  height: auto;
}
.projects .project2__img {
  width: 100%;
  height: auto;
}
.projects .project3__img {
  width: 100%;
  height: auto;
}
.projects .project4__img {
  width: 100%;
  height: auto;
}
.projects .project5__img {
  width: 100%;
  height: auto;
}
.projects .project6__img {
  width: 100%;
  height: auto;
}

.project__buttons {
  display: flex;
  margin: auto;
  padding: 1rem;
}

.project4 {
  display: none;
}

.project5 {
  display: none;
}

.project6 {
  display: none;
}

.codeButton {
  border: 0.8px solid black;
  background-color: #fff;
  color: black;
  font-family: "Sanchez", serif;
  border-radius: 0.3rem;
  margin: 1rem;
  font-weight: bolder;
  padding: 0.4rem;
}

.previewButton {
  border: 0.8px solid black;
  background-color: #fff;
  color: black;
  font-family: "Sanchez", serif;
  border-radius: 0.3rem;
  margin: 1rem;
  font-weight: bolder;
  padding: 0.4rem;
}

footer {
  min-height: 50px;
  display: grid;
  justify-content: space-around;
  background-color: #393e46;
  margin: 1rem;
  padding: 1rem;
}
footer .footer_links {
  background-color: #393e46;
  justify-content: center;
}
footer a {
  background-color: #393e46;
  text-decoration: none;
}
footer img {
  width: 35px;
  height: 35px;
  border-radius: 70%;
}
footer p {
  background-color: #393e46;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 1025px) {
  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .nav__link {
    display: inline;
  }
  .nav__get-in-touch {
    display: inline;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  h3 {
    margin-left: 6%;
  }
  h1 {
    text-align: left;
    max-width: 50vw;
    margin-right: 10%;
    margin-left: 5%;
  }
  .header__img {
    display: inline;
    max-height: 20vh;
    max-width: 20vw;
    margin-right: 20%;
  }
  .about {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-bottom: 1rem;
  }
  .about__img {
    grid-area: 1/1/6/3;
  }
  .about__header {
    grid-area: 2/3/3/5;
  }
  .about__paragraph {
    grid-area: 3/3/6/5;
  }
  .about__img {
    width: 100;
    height: auto;
    margin-left: 14%;
  }
  .skills {
    display: grid;
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
  }
  .skills__logos {
    display: flex;
    justify-content: space-evenly;
    margin-left: 20%;
    margin-right: 20%;
  }
  .projectsHeader {
    margin-top: 5%;
  }
  .projects {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .project4 {
    display: block;
  }
  .project5 {
    display: block;
  }
  .project6 {
    display: block;
  }
  .project1 {
    grid-area: 1/1/3/3;
  }
  .project2 {
    grid-area: 1/3/3/5;
  }
  .project3 {
    grid-area: 1/5/3/7;
  }
  .project4 {
    grid-area: 3/1/5/3;
  }
  .project5 {
    grid-area: 3/3/5/5;
  }
  .project6 {
    grid-area: 3/5/5/7;
  }
}/*# sourceMappingURL=main.css.map */